# This file is a "template" of which env vars need to be defined for your application
# Copy this file to .env file for development, create environment variables when deploying to production
# https://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration

###> symfony/framework-bundle ###
APP_ENV=dev
APP_SECRET=50e8f81dd97908cbe1a04c4f955aa898
# 127.0.0.1,127.0.0.2
# localhost,example.com
###< symfony/framework-bundle ###

###> symfony/swiftmailer-bundle ###
# For Gmail as a transport, use: "gmail://username:password@localhost"
# For a generic SMTP server, use: "smtp://localhost:25?encryption=&auth_mode="
# Delivery is disabled by default via "null://localhost"
MAILER_URL=null://localhost
###< symfony/swiftmailer-bundle ###

###> doctrine/doctrine-bundle ###
# Format described at http://docs.doctrine-project.org/projects/doctrine-dbal/en/latest/reference/configuration.html#connecting-using-a-url
# For an SQLite database, use: "sqlite:///%kernel.project_dir%/var/data.db"
# Configure your db driver and server_version in config/packages/doctrine.yaml
DATABASE_URL=mysql://imperius-project:5vx12R1hhcGX16e@mysql.imperius.home:3306/imperius
###< doctrine/doctrine-bundle ###

MOSQUITTO_ID=imperius-web-application
MOSQUITTO_BROKER_HOST=127.0.0.1
###> snc/redis-bundle ###
# passwords that contain special characters (@, %, :, +) must be urlencoded
REDIS_HOST=redis.imperius.home
REDIS_PORT=6379
REDIS_DB_SENSOR_API=2
REDIS_DB_DOCTRINE_API=1
###< snc/redis-bundle ###

###> nelmio/cors-bundle ###
CORS_ALLOW_ORIGIN=^https?://localhost:?[0-9]*$
###< nelmio/cors-bundle ###

###> lexik/jwt-authentication-bundle ###
# Key paths should be relative to the project directory
JWT_PRIVATE_KEY_PATH=config/jwt/private.pem
JWT_PUBLIC_KEY_PATH=config/jwt/public.pem
JWT_PASSPHRASE='imperius'
JWT_TOKEN_TTL=3600
###< lexik/jwt-authentication-bundle ###

STATS_HOST=telegraf.imperius.home
STATS_PORT=8125
STATS_PROTOCOL=udp

GRAYLOG_HOST=graylog.imperius.home
GRAYLOG_PORT=12201
