{% extends "layout.html.twig" %}

{% block content_title %} Sign in {% endblock %}

{% block content %}
    <div class="row">
            {{ include('Controller/Security/login/login_content.html.twig') }}
    </div>
{% endblock %}
