{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <p>{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</p>
    <p><a class="btn btn-primary" href="/">Go back to main page.</a></p>
{% endblock fos_user_content %}
