{% extends 'base.html.twig' %}

{% block body %}
    <div class="jumbotron">
        <h1 class="display-3">You are not logged in</h1>
        <p class="lead">To start managing your smart devices login or sign up.</p>
    </div>
{% endblock %}